progress {
    background-color: gray;
    height: 20px;
    width: 400px;
}

#hero-hp {
    color: green;
}

#hero-hp::-moz-progress-bar {
    background-color: green;
}

#hero-hp::-webkit-progress-bar {
    background-color: green;
}

#monster-hp::-moz-progress-bar {
    background-color: red;
}

#monster-hp::-webkit-progress-value {
    background-color: gray;
}

.progressValue {
    position: absolute;
    top: 2px;
    left: 18%;
}

.hero-hp-bar {
    position: relative;
    margin-left: 10%;
}

.monster-hp-bar {
    position: relative;
    margin-left: 25%;
    right: 0px;
}

.button {
    position: absolute;
    top: 20%;
    left: 40%;
}

.Battle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 1%;
}